html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.clear {
  clear: both;
}

.header {
  height: 60px;
  width: 100%;
  position: fixed;
  border-bottom: 3px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.header a {
  text-decoration: none;
  color: #FFFFFF;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}

.curb {
  border-bottom: 10px solid #000000;
}

.hat {
  border-top: 2px solid #FFB6C1;
}

.amsterdam {
  color: #FF6347;
}

.berlin {
  color: #FF6666;
}

.london {
  color: #FFD700;
}

.new-york {
  color: #FF7F50;
}

.map-container {
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.map img {
  width: 100%;
  height: 100%;
}

.bar-list {
  padding-top: 60px;
  width: 100%;
}

.bar-list .bar-container {
  width: 100%;
  height: 100%;
}

.bar-list .bar-container :hover {
  cursor: pointer;
}

.bar-list .bar-container .bar-name {
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  float: left;
  background-color: #8B0000;
  background-image: url(/images/pattern.png);
}

.bar-list .bar-container .bar-name h1 {
  font-size: 2.5vw;
  font-weight: 600;
  padding: 20px;
  margin: 0px;
}

.bar-list .bar-container .large-box {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bar-list .bar-container .large-box .content-box {
  width: 50%;
  height: 0;
  padding-bottom: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(/images/pattern.png);
  float: right;
  /* visibility: hidden; */
}

.bar-list .bar-container .large-box .content-box .content {
  padding: 20px;
}

.bar-list .bar-container .large-box .content-box .content .review {
  font-size: 0.9vw;
  font-style: italic;
  line-height: 1.25vw;
}

.bar-list .bar-container .large-box .content-box .content table {
  padding: 0px;
  margin: 0px;
  border: 0px;
  padding-bottom: 40px;
  width: 100%;
}

.bar-list .bar-container .large-box .content-box .content table td {
  font-size: 1.15vw;
  line-height: 1.15vw;
  font-weight: 600;
  vertical-align: top;
}

.bar-list .bar-container .large-box .content-box .content table .label {
  width: 30%;
}

.bar-list .bar-container .large-box .content-box .content table td a {
  color: #98FB98;
}

.bar-list .bar-container .small-box {
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
