<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Wanderlush</title>
    <%= stylesheet_link_tag "wanderlush" %>
    <%= javascript_include_tag "jquery-2.1.3.min", "wanderlush" %>
  </head>
  <body>
    <div class="header">
      <h3 class="logo">Wanderlush</h3>
    </div>
    <%= yield %>
  </body>
</html>
