<% content_for :section do %>
  <span class="sep">&gt;</span><h2 class="section"><%= I18n.t("amsterdam") %></h2>
<% end %>
<div class="bar-list">
  <%= partial "amsterdam/door-74" %>
  <%= partial "amsterdam/tales-and-spirits" %>
</div>
