<div class="bar-list">

  <!-- Green Door Photos -->
  <div class="bar-container">
    <div class="large-box green-door-large"></div>
    <div class="small-box bar-name">
      <h1>GreenDoor<br/><span>Berlin</span></h1>
    </div>
    <div class="small-box green-door-small-right"></div>
    <div class="small-box green-door-small-middle"></div>
    <div class="small-box green-door-small-left"></div>
  </div>
</div>
