<div class="bar-list">

  <!-- Green Door Photos -->
  <div class="large-image">
    <img src="/images/green-door-large.jpg"/>
  </div>
  <div class="small-image">
    <img src="/images/green-door-small-left.jpg"/>
  </div>
  <div class="small-image">
    <img src="/images/green-door-small-middle.jpg"/>
  </div>
  <div class="small-image">
    <img src="/images/green-door-small-right.jpg"/>
  </div>
</div>
