<div class="bar-list">

  <!-- Green Door -->
  <div class="bar-container">
    <div class="large-box curb" data="/images/green-door-large.jpg"></div>
    <div class="bar-name">
      <h1>GreenDoor<br/><span class="berlin">Berlin</span></h1>
    </div>
    <div class="small-box" data="/images/green-door-small-right.jpg"></div>
    <div class="small-box curb" data="/images/green-door-small-middle.jpg"></div>
    <div class="small-box curb" data="/images/green-door-small-left.jpg"></div>
  </div>

  <!-- Dead Rabbit -->
  <div class="bar-container">
    <div class="large-box curb hat" data="/images/dead-rabbit-large.jpg"></div>
    <div class="bar-name hat">
      <h1>DeadRabbit<br/><span class="new-york">NewYork</span></h1>
    </div>
    <div class="small-box hat" data="/images/dead-rabbit-small-right.jpg"></div>
    <div class="small-box curb" data="/images/dead-rabbit-small-middle.jpg"></div>
    <div class="small-box curb" data="/images/dead-rabbit-small-left.jpg"></div>
  </div>

  <!-- Nightjar -->
  <div class="bar-container">
    <div class="large-box curb hat" data="/images/nightjar-large.jpg"></div>
    <div class="bar-name hat">
      <h1>Nightjar<br/><span class="london">London</span></h1>
    </div>
    <div class="small-box hat" data="/images/nightjar-small-right.jpg"></div>
    <div class="small-box curb" data="/images/nightjar-small-middle.jpg"></div>
    <div class="small-box curb" data="/images/nightjar-small-left.jpg"></div>
  </div>

  <!-- Door 74 -->
  <div class="bar-container">
    <div class="large-box curb hat" data="/images/door-74-large.jpg"></div>
    <div class="bar-name hat">
      <h1>Door74<br/><span class="amsterdam">Amsterdam</span></h1>
    </div>
    <div class="small-box hat" data="/images/door-74-small-right.jpg"></div>
    <div class="small-box curb" data="/images/door-74-small-middle.jpg"></div>
    <div class="small-box curb" data="/images/door-74-small-left.jpg"></div>
  </div>
</div>
