<!-- Buck & Breck -->
<div class="bar-container">
  <div class="large-box curb" data="/images/buck-and-breck-large.jpg">
    <div class="content-box">
      <div class="content">
        <table>
          <tr>
            <td class="berlin label"><%= I18n.t(:address) %></td>
            <td>
              Brunnenstr. 177<br/>
              10119 Berlin<br/>
              <%= I18n.t(:germany) %>
            </td>
          </tr>
          <tr>
            <td class="berlin label">Phone</td>
            <td>+49 176 3231 5507</td>
          </tr>
          <tr>
            <td class="berlin label">Web</td>
            <td><a href="http://www.buckandbreck.com/">buckandbreck.com</a></td>
          </tr>
        </table>
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit....
        </div>
      </div>
    </div>
  </div>
  <div class="bar-name">
    <h1>BuckAndBreck<br/><span class="berlin">Berlin</span></h1>
  </div>
  <div class="small-box" data="/images/buck-and-breck-small-right.jpg"></div>
  <div class="small-box curb" data="/images/buck-and-breck-small-middle.jpg"></div>
  <div class="small-box curb" data="/images/buck-and-breck-small-left.jpg"></div>
</div>
