<!-- Green Door -->
<div class="bar-container">
  <div class="large-box curb" data="/images/green-door-large.jpg">
    <div class="content-box">
      <div class="content">
        <table>
          <tr>
            <td class="berlin label"><img src="/images/address.png" width="28"/></td>
            <td><a href="http://bit.ly/1JpWFjF" target="new">Winterfeldtstr. 50, 10781</a></td>
          </tr>
          <tr>
            <td class="berlin label"><img src="/images/phone.png" width="28"/></td>
            <td>+49 30 215 2515</td>
          </tr>
          <tr>
            <td class="berlin label"><img src="/images/home.png" width="28"/></td>
            <td><a href="http://greendoor.de/" target="new">greendoor.de</a></td>
          </tr>
        </table>
        <div class="review">
          <p class="recommendation berlin"><%= I18n.t('reviews.green_door.recommendation') %></p>
          <p class="text"><%= I18n.t('reviews.green_door.text') %></p>
          <p class="notes"><%= I18n.t('reviews.green_door.notes') %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="bar-name">
    <h1>Green Door</h1>
  </div>
  <div class="small-box" data="/images/green-door-small-right.jpg"></div>
  <div class="small-box curb" data="/images/green-door-small-middle.jpg"></div>
  <div class="small-box curb" data="/images/green-door-small-left.jpg"></div>
</div>
