<!-- Green Door -->
<div class="bar-container">
  <div class="large-box curb" data="/images/green-door-large.jpg">
    <div class="content-box">
      <div class="content">
        <table>
          <tr>
            <td class="berlin label"><%= I18n.t(:address) %></td>
            <td>
              Winterfeldtstr. 50<br/>
              10781 Berlin<br/>
              <%= I18n.t(:germany) %>
            </td>
          </tr>
          <tr>
            <td class="berlin label">Phone</td>
            <td>+49 30 215 2515</td>
          </tr>
          <tr>
            <td class="berlin label">Web</td>
            <td><a href="http://greendoor.de/">greendoor.de</a></td>
          </tr>
        </table>
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit....
        </div>
      </div>
    </div>
  </div>
  <div class="bar-name">
    <h1>Green Door</h1>
  </div>
  <div class="small-box" data="/images/green-door-small-right.jpg"></div>
  <div class="small-box curb" data="/images/green-door-small-middle.jpg"></div>
  <div class="small-box curb" data="/images/green-door-small-left.jpg"></div>
</div>
