<!-- Lebensstern -->
<div class="bar-container">
  <div class="large-box curb" data="/images/lebensstern-large.jpg">
    <div class="content-box">
      <div class="content">
        <table>
          <tr>
            <td class="berlin label"><%= I18n.t(:address) %></td>
            <td>
              Kurfürstenstr. 58<br/>
              10785 Berlin<br/>
              <%= I18n.t(:germany) %>
            </td>
          </tr>
          <tr>
            <td class="berlin label">Phone</td>
            <td>+49 30 2639 1922</td>
          </tr>
          <tr>
            <td class="berlin label">Web</td>
            <td><a href="http://www.lebens-stern.de/">lebens-stern.de</a></td>
          </tr>
        </table>
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit....
        </div>
      </div>
    </div>
  </div>
  <div class="bar-name">
    <h1>GreenDoor<br/><span class="berlin">Berlin</span></h1>
  </div>
  <div class="small-box" data="/images/lebensstern-small-right.jpg"></div>
  <div class="small-box curb" data="/images/lebensstern-small-middle.jpg"></div>
  <div class="small-box curb" data="/images/lebensstern-small-left.jpg"></div>
</div>
