<!-- Stagger Lee -->
<div class="bar-container">
  <div class="large-box curb" data="/images/stagger-lee-large.jpg">
    <div class="content-box">
      <div class="content">
        <table>
          <tr>
            <td class="berlin label"><%= I18n.t(:address) %></td>
            <td>
              Nollendorfstr. 27D<br/>
              10777 Berlin<br/>
              <%= I18n.t(:germany) %>
            </td>
          </tr>
          <tr>
            <td class="berlin label">Phone</td>
            <td>+49 30 2903 6158</td>
          </tr>
          <tr>
            <td class="berlin label">Web</td>
            <td><a href="http://www.staggerlee.de/">staggerlee.de</a></td>
          </tr>
        </table>
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit....
        </div>
      </div>
    </div>
  </div>
  <div class="bar-name">
    <h1>Stagger Lee</h1>
  </div>
  <div class="small-box" data="/images/stagger-lee-small-right.jpg"></div>
  <div class="small-box curb" data="/images/stagger-lee-small-middle.jpg"></div>
  <div class="small-box curb" data="/images/stagger-lee-small-left.jpg"></div>
</div>
