<!-- Door 74 -->
<div class="bar-container">
  <div class="large-box curb hat" data="/images/door-74-large.jpg">
    <div class="content-box">
      <div class="content">
        <table>
          <tr>
            <td class="amsterdam label">Address</td>
            <td>
              Reguliersdwarsstraat 74I<br/>
              1017 BN Amsterdam<br/>
              Netherlands
            </td>
          </tr>
          <tr>
            <td class="amsterdam label">Phone</td>
            <td>+31 6 34 04 51 22</td>
          </tr>
          <tr>
            <td class="amsterdam label">Web</td>
            <td><a href="http://www.door-74.com/">door-74.com</a></td>
          </tr>
        </table>
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit....
        </div>
      </div>
    </div>
  </div>
  <div class="bar-name hat">
    <h1>Door 74</h1>
  </div>
  <div class="small-box hat" data="/images/door-74-small-right.jpg"></div>
  <div class="small-box curb" data="/images/door-74-small-middle.jpg"></div>
  <div class="small-box curb" data="/images/door-74-small-left.jpg"></div>
</div>
