<!-- Tales and Spirits -->
<div class="bar-container">
  <div class="large-box curb hat" data="/images/tales-and-spirits-large.jpg">
    <div class="content-box">
      <div class="content">
        <table>
          <tr>
            <td class="amsterdam label">Address</td>
            <td>
              Lijnbaanssteeg 5-7<br/>
              1012 TE Amsterdam<br/>
              Netherlands
            </td>
          </tr>
          <tr>
            <td class="amsterdam label">Phone</td>
            <td>+31 6 55 35 64 67</td>
          </tr>
          <tr>
            <td class="amsterdam label">Web</td>
            <td><a href="http://www.talesandspirits.com/">talesandspirits.com</a></td>
          </tr>
        </table>
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit....
        </div>
      </div>
    </div>
  </div>
  <div class="bar-name hat">
    <h1>Tales & Spirits</h1>
  </div>
  <div class="small-box hat" data="/images/tales-and-spirits-small-right.jpg"></div>
  <div class="small-box curb" data="/images/tales-and-spirits-small-middle.jpg"></div>
  <div class="small-box curb" data="/images/tales-and-spirits-small-left.jpg"></div>
</div>
