<!-- Nightjar -->
<div class="bar-container">
  <div class="large-box curb hat" data="/images/nightjar-large.jpg">
    <div class="content-box">
      <div class="content">
        <table>
          <tr>
            <td class="london label">Address</td>
            <td>
              129 City Road<br/>
              London, EC1V 1JB<br/>
              England
            </td>
          </tr>
          <tr>
            <td class="london label">Phone</td>
            <td>+44 207 253 4101</td>
          </tr>
          <tr>
            <td class="london label">Web</td>
            <td><a href="http://www.barnightjar.com/">barnightjar.com</a></td>
          </tr>
        </table>
        <div class="review">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit....
        </div>
      </div>
    </div>
  </div>
  <div class="bar-name hat">
    <h1>Nightjar</h1>
  </div>
  <div class="small-box hat" data="/images/nightjar-small-right.jpg"></div>
  <div class="small-box curb" data="/images/nightjar-small-middle.jpg"></div>
  <div class="small-box curb" data="/images/nightjar-small-left.jpg"></div>
</div>
